<div class="jumbotron text-center mt-3" style="margin-bottom:0; background-image: url(./assets/images/0122.jpg);">
    <div class="footer">
      <div class="row d-flex justify-content-center ">
        <h6>@2021 Copyright by Nguyen Van Tan</h6>
      </div>
      <div class="row mt-4">
        <div class="col-sm-6 mb-3">
          FB: fb.com/vantan.exfick<br>
          Email: vantanb1k55@gmail.com

        </div>
        <div class="col-sm-6 mb-3">
          Phone: 0325 77 29 29<br>
          Github: github.com/74nguyentan
        </div>
      </div>
    </div>
  </div>
